@model CoverType

<!-- asp-action is not needed it will automatically go back to the same post as the title but you can use it if you want to explicatly label it.-->
<form method="post" asp-action="Edit" style="width:80%" class="py-3 m-auto">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Cover Type</h2>
            <hr />
        </div>
        <!-- Built in data validation -->
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>


@section Scripts{
    @{
        // This allows for client side validation using the scripts already included. This way we don't hit the server everytime to validate. We still have server side validation as well.
        <partial name="_ValidationScriptsPartial" />
    }
}